@import '~fontawesome-4.7/css/font-awesome.min.css';
@import '../sass/variables.scss';
@import 'icons';
@import 'icons-two';
//@import 'theme';
//@import 'skin';
//@import 'backery';
.pb-0 {
    padding-bottom: 0;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.fw-bold {
    font-weight: bold;
}

.fs-14 {
    font-size: 14px;
}

.fs-20 {
    font-size: 20px;
}

.text-black {
    color: #000;
}

.border-right-dashed {
    border-right: 1px dashed #d3ced2;
}
